
 .contenedorCarrito{
   display: flex;
   justify-content: end;
   
  
   padding-left: 180px;
 }
.carrito{
    width: 10%;
    margin-right: 10px;
  
}  

/* .cantidad{
  align-items: end; 
  margin-left: 40px;
  margin-top: -24px;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: red;
  padding-left: 6px;
  color: white;
  position: absolute;
  transform: translate(-40%, -0%);
} */
.cantidad{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: red;
  align-items: end; 
  margin-left: 40px;
  margin-top: -34px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}